body {
  margin: 0;
  font-size: 16px;
  font-family: 'Helvetica Neue', "Helvetica", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
* {
  box-sizing: border-box;
}

h1 {
  font-size: 5em;
  font-style: italic;
  letter-spacing: -5px;
  margin-bottom: 0;
  color:silver;
  margin-bottom: 60px;
  line-height: 100px;
  transition: all 1s;

}

h2 {  font-size: 5em;
  font-style: italic;
  letter-spacing: -5px;
  margin-bottom: 0;
  color:#eeeeee;
  // margin-bottom: 60px;
  line-height: 60px;
  transition: all 1s;

}

.header-start {
  line-height: 480px;
  transition: all 1s;
  font-size: 10em;

}

.wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
}

.code {
  pointer-events: none;
  position: absolute;
  .block {
    border-bottom:2px solid white;
    .top {
      border-bottom: 1px solid white;
    }
  }
  .split {
    border-bottom: none;
  }
  .space {
    .top {
      border-bottom: none;
    }
  }
}

.flipper {
  position: absolute;
  right: 0;
  height: 50px;
  width: 150px;
  background-color: #ffd600;
  background: repeating-linear-gradient(
    45deg,
    #ffd600,
    #ffd600 20px,
    #1d1d1d 20px,
    #1d1d1d 40px
  );
  box-shadow: 0px 8px 16px rgba(0,0,0,0.05);
  transition: all 0.2s;
  transition-delay:0.5s;
  &:hover {
    height: 150px;
    cursor: pointer;
    .instruction {
      display:block;
      transition: all .5s;
      transition-delay:0.2s;
      opacity:1;
    }
  }
  .instruction {
    // display: none;
    width: 100%;
    background-color: #F58221;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    opacity:0;
  }
}

// FLIPS THE HACIENDA HASH
.flipped-flipper {
  background: repeating-linear-gradient(
    -45deg,
    #ffd600,
    #ffd600 20px,
    #000000 20px,
    #000000 40px
  );
  transition: all 0.2s;
}

// FLIPS THE RECORD
.flip-album {
  // START IMMEDIATELY ON CLICK
  transform: rotate3d(0, 45, 0, 180deg);
  transition: all 1s ease-out;
  background-image: url(./images/pcl.jpg);
  background-size: cover;

}

// REGULAR STATE OF CONTAINER
.container {
  background-color: #1d1d1d;
  color:white;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  margin:auto;
  padding-top: 35px;
  box-shadow: 0px 16px 30px rgba(0,0,0,0.2);
  transition: all 1.5s;
  position: relative;
  left:25px;
}

.sideA, .sideB {
  // WHAT THE SIDES DO WHEN THEY ARE ON
  transition: all 0.5s;
  transition-delay: 1s;
  opacity: 1;
  // border:1px solid red;
}

// FLIP THE BSIDE to the right
.sideB {

  transform: rotate3d(0, 45, 0, 180deg);
  height: 800px;
  width: 800px;
  padding: 50px;
  position: absolute;
  top: 0px;
  left:0px;
  border-radius: 50%;
  // border: 1px solid green;
  background-color: rgba(black, 0.5);
}

.flipped-side {
  // HIDES THE SIDE
z-index: -500;
  opacity:0;
  // border:1px solid red;
  transition: all 0.5s;
}






.block-zone {
  // border:1px solid red;
  .block-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}

.block-row {
  .block {
    margin:1px;
  }
}

.row2, .row3 {
  .top, .bottom {
    height: 24px;
  }
  .top {
    margin-bottom: 2px;
  }

}


.block {
  // border:1px solid black;
  // width: 52px;
  // height: 52px;
  position: relative;
  .top, .bottom {
    height: 25px;
    width: 50px;
  }
  // margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    p.letter, p.number {
      opacity: 1;
    }
  }
}

.possible-values {
  position: absolute;
  flex: 1 0 auto;
  text-transform: uppercase;
  width: 100%;
  opacity:0;
}

.block:hover {
  .possible-values {
    opacity:1;
  }
}



p.letter, p.number {
  transition: all 0.3s;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex: 1 0 auto;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
  &:hover {
    background-color: rgba(white,0.5);
  }
}

p.number {
  display: none;
}

.split {
  p {
    height: 25px;
    font-size: 20px;
    opacity: 0;
    transition: all 0,7s;
    &:hover {
      background-color: rgba(white,0.5);
      opacity: 1;
    }
  }
  p.letter {
    text-align: left;
    justify-content: flex-start;
    padding-left: 3px;
    padding-bottom: 3px;
    position: relative;
    z-index:5;
    
  }
  p.number {
    display: block;
    text-align: right;
    justify-content: flex-end;
    padding-right: 3px;
    padding-bottom: 3px;
    position: relative;
    z-index:5;

  }
  
}

.dark {
  color: black;
}

.dark-letter {
  p.letter {
    color: black;
  }
}

.dark-number {
  p.number {
    color: black;
  }
}


.space {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 5;
  font-size: 12px;
  .letter{
    height: 50px;
    width: 50px;
    font-size: 12px;
    text-transform: lowercase;
    font-style: italic;
  }
}

.hide {
  height: 0;
  opacity: 0;
  transition: all 1s;
  transition-delay: 1s;
}

.show {
  height: auto;
  opacity: 1;
}


.result-field {
  background-color: transparent;
  border: none;
  max-width: 500px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 45px;
  border: 1px solid rgba(white, 0.3);
  // font-weight: bold;
  // text-transform: uppercase;
  // letter-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  overflow: scroll;
}

button {
  background-color: #1d1d1d;
  color:silver;
  border:none;
  font-size: 1.5em;
  margin: 20px;
  font-style: italic;
  letter-spacing: -2px;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    font-style: normal;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

p.story {
  // text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  width: 85%;
  margin: 20px 7.5%;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  // font-weight: 500;
  padding: 5px;
  span {
    background-color: black;
    padding: 2px 6px;
  }

}

h3 {
  margin-top: 0;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p.credits {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 320px;
  margin:auto;
  margin-top: 40px;

}

ul {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style-type: none;
  li{
    margin: 5px;
  }
}